PORT=3000
SESSION_ENCRYPTION_KEY="17414119e3c2d5c2e2f422ca83bcd78544240a6e9189dd56a4de011aa077d3f9"
SESSION_NAMESPACE="tanu-xai"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwaHhjc2pyeWZydWVobnpqbHZpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODAxMDE5NiwiZXhwIjoyMTAzNTg2MTk2fQ.J94kmlCKoMjqwHs_a0z49rvE8pDzv2EDTPF-yOjcQMM"
SUPABASE_URL="https://bphxcsjryfruehnzjlvi.supabase.co"
NODE_ENV=development
PAIRING_TIMEOUT_MS=300000
CORS_ORIGIN=*
